/* COMMON */

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --black-transparent: rgba(0, 0, 0, 0.3);
  --red: #EE3643;
  --blue: #32425C;
  --charcoal: #1D2739;
  --beige: #F7F3EC;
  --white-translucent: rgba(255, 255, 255, 0.5);
  --white-more-transparent: rgba(255, 255, 255, 0.3);
  --grey: #C5C5C5;
  --very-grey: #ABABAB;
  --light-grey: #F1F5F7;
  --popup-grey: #F4F4F4;
  --light-grey-blue: #D7DCDE;
  --lighter-grey: #E5E5E5;
  --light-yellow: #FFBF47;
  --light-blue: #3BBCE3;
  --light-liliac: #DC91D8;
  --light-green: #8ED78F;
  --grey-transparent: rgba(197, 197, 197, 0.3);
  --dark-grey-transparent: rgba(169, 169, 169, 0.3);
  --black-light-transparent: rgba(0, 0, 0, 0.24);
  --green: #63A63E;
  --green-hover: #5FBB2D;
  --green-click: #518534;

  /* header */
  --dark-blue: #293449;
  --very-dark-blue: #405069;
  --red-active: #BA2732;
  --green-main: #63A63E;
  --green-hover: #5FBB2D;
  --blue-darker: #161D29;

  /* main */
  --background-light-beige: #F9F5F0;
  --dark-red: #CA2C37;
  --dark-grey: #A9A9A9;
  --smoke: #EAEAEA;
  --slider-back: rgba(0, 0, 0, 0.25);


  /* footer */
  --smoky-white: #F3F7F9;
  --lighter-yellow: #FFD180;

}

.page {
  min-width: 960px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  background-color: var(--white);
  color: var(--blue);
  height: 100%;
}

.page a {
  text-decoration: none;
}

.page img {
  max-width: 100%;
  height: auto;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  background-color: var(--red);
  color: var(--white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  border: none;
  padding: 10px;
  width: 192px;
  box-sizing: border-box;
  font-weight: 400;
  text-align: center;
}

.button:hover {
  background-color: var(--dark-red);
}

.button:active,
.button:focus {
  background-color: var(--red-active);
}

/* HEADER */

.main-header {
  color: var(--white);
  background-color: var(--light-grey);
  height: 320px;
}

.main-header-top-wrapper {
  background-color: var(--dark-blue);
}

.main-header-top {
  display: grid;
  grid-template-columns: 220px 2fr 1fr 1fr 1fr max-content;
  font-size: 18px;
  line-height: 24px;
  height: 42px;
  color: var(--white);
  background-color: var(--dark-blue);
  align-items: center;
  position: relative;
}

.main-header-logo {
  background-color: var(--red);
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  width: 220px;
  height: 47px;
  padding: 13px 0 7px;
  box-shadow: inset 0 -5px var(--black-light-transparent);
}

.main-header-logo:active,
.main-header-logo:focus {
  background-color: var(--red-active);
}

.search-form {
  align-self: flex-start;
  position: relative;
}

.search-icon {
  opacity: 0.3;
  position: absolute;
  top: 10px;
  left: 15px;
}

.search-text {
  font: inherit;
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  margin-left: 0px;
  padding-top: 9px;
  padding-right: 30px;
  padding-bottom: 9px;
  padding-left: 42px;
  align-self: start;
  width: 271px;
}

.search-text:focus {
  background-color: var(--white);
  outline: none;
  color: var(--black);
  padding-bottom: 9px;
}

.search-text:focus+.search-icon .search-icon-path {
  fill: var(--red);
}

.search-text:focus+.search-icon {
  opacity: 1;
}

.search-text::placeholder {
  color: var(--white);
}

.search-text:hover + .search-icon,
.search-icon:hover,
.search-text:focus + .search-icon {
  opacity: 1;
}

.bookmarks-link {
  color: var(--white);
  margin-left: -45px;
  padding: 9px;
  padding-left: 43px;
  padding-right: 15px;
  align-self: start;
  justify-self: center;
  position: relative;
}

.bookmarks-link::before {
  content: "";
  background-image: url(../img/uikit/icon-bookmark.svg);
  width: 14px;
  height: 16px;
  position: absolute;
  left: 21px;
  top: 13px;
  opacity: 0.3;
}

.bookmarks-link:hover::before {
  opacity: 1;
}

.bookmarks-link:active,
.bookmarks-link:focus {
  color: var(--white-translucent);
  background-color: var(--blue-darker);
}

.basket-link {
  color: var(--white);
  padding: 9px;
  padding-left: 35px;
  width: 136px;
  padding-right: 12px;
  margin-left: 0px;
  margin-right: 5px;
  align-self: start;
  justify-self: center;
  position: relative;
  box-sizing: border-box;
}

.basket-link::before {
  background-image: url(../img/uikit/icon-cart.svg);
  position: absolute;
  width: 15px;
  height: 15px;
  content: "";
  top: 13px;
  left: 12px;
  opacity: 0.3;
}

.basket-link:hover::before {
  opacity: 1;
}

.basket-link:focus {
  color: var(--white-translucent);
  background-color: var(--blue-darker);
}

.basket-not-empty {
  background-color: var(--red);
}

.order-link {
  background-color: var(--green-main);
  color: var(--white);
  padding: 9px 0 9px 19px;
  margin-left: -7px;
  align-self: start;
}

.order-link:hover {
  background-color: var(--green-hover);
}

.order-link:active,
.order-link:focus {
  color: var(--white-translucent);
  background-color: var(--green-main);
}

.main-header-bottom {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-template-rows: min-content min-content;
  align-items: center;
  padding: 42px 0 25px 30px;
}

.main-header-description {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: var(--red);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  margin: 0;
  margin-right: 70px;
  width: 197px;
}

.main-header-tel {
  font-size: 21px;
  line-height: 30px;
  color: var(--red);
  grid-row: 1/2;
  font-weight: 700;
  border: 3px solid var(--white);
  margin: 1px 50px 0px -13px;
  padding: 5px 0px 5px 70px;
  box-sizing: border-box;
  position: relative;
}

.main-header-tel::before {
  content: "";
  background-image: url(../img/uikit/icon-phone.svg);
  position: absolute;
  height: 19px;
  width: 19px;
  left: 35px;
  top: 12px;
}

.main-header-address {
  font-size: 14px;
  grid-column: 2/3;
  grid-row: 2/3;
  font-style: normal;
  line-height: 24px;
  margin-top: -1px;
  margin-left: -4px;
  color: var(--blue);
}

.main-header-button {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
  font-weight: 400;
  grid-row: 1 / 2;
}

.sign-in {
  margin-left: 22px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 12px 0px 15px 45px;
  position: relative;
}

.sign-in::before {
  content: "";
  background-image: url(../img/uikit/icon-login.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 19px;
  top: 15px;
}

.sign-reg {
  margin-left: 1px;
  margin-top: 5px;
  padding: 12px 0px 15px 24px;
}

.sign-in:hover,
.sign-reg:hover {
  color: var(--red);
}

.sign-in:active,
.sign-reg:active,
.sign-in:focus,
.sign-reg:focus {
  color: var(--grey);
}

.main-nav-list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  list-style: none;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 0px 37px 0px 33px;
  box-shadow: inset 0 -5px 0 var(--dark-blue);
}

.main-header-user {
  background: var(--white);
  grid-column: 3/5;
  grid-row: 1/2;
  padding: 12px;
  font-size: 21px;
  margin-top: 2px;
  position: relative;

}

.header-user {
  background-image: url(../img/uikit/icon-user.svg);
  width: 20px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 18px;
}

.header-user-name {
  margin-left: 48px;
}

.header-user-logout {
  background-image: url(../img/uikit/icon-logout.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 18px;
  position: absolute;
  top: 15px;
  right: 20px;
}

.main-header-user a {
  color: var(--black);
}

.header-user-name:active,
.header-user-name:focus {
  color: var(--grey);
}

.header-user-orders {
  color: var(--black);
  margin-top: 5px;
  margin-left: 47px;
  grid-column: 3/4;
  grid-row: 2/3;
}

.header-user-account {
  color: var(--black);
  margin-top: 5px;
  margin-left: 2px;
  grid-column: 4/5;
  grid-row: 2/3;
  position: relative;
}

.header-user-account::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--blue);
  border-radius: 50%;
  position: absolute;
  left: -18px;
  top: 7px;
}

.header-user-orders:hover,
.header-user-account:hover {
  color: var(--red);
}

.header-user-orders:active,
.header-user-account:active,
.header-user-orders:focus,
.header-user-account:focus {
  color: var(--grey);
}

.main-nav a {
  color: var(--white);
  padding: 19px 20px 20px;
  display: block;
}

.main-nav a:hover {
  background: var(--dark-blue);
}

.main-nav a:active,
.main-nav a:focus {
  background: var(--charcoal);
  opacity: 50%;
}

/* MAIN */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.promo-block {
  font-weight: bold;
  line-height: 30px;
  margin-top: 59px;
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: min-content min-content min-content;
  gap: 20px;
  grid-template-areas:
    "mats tools tech"
    "slider slider sale"
    "slider slider delivery";
}

.promo-item {
  height: 123px;
  display: grid;
  grid-template-columns: 135px 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 23px;
  position: relative;
}

.promo-item h3 {
  font-size: 24px;
}

.promo-item img {
  grid-row: 1/3;
  margin-top: 30px;
  justify-self: center;
}

.promo-item-description {
  background-color: var(--white-more-transparent);
  grid-row: 2/3;
  text-transform: uppercase;
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  align-self: center;
  text-align: center;
  margin-top: -30px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.promo-item-description:hover {
  background-color: var(--grey-transparent);
}

.promo-item-description:active,
.promo-item-description:focus {
  background-color: var(--dark-grey-transparent);
}

.promo-materials {
  grid-area: mats;
  background-color: var(--light-yellow);
}

.promo-materials::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
  background-image: url(../img/uikit/bucket.svg);
}

.promo-tools {
  grid-area: tools;
  background-color: var(--light-blue);
}

.promo-tools::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  top: 34px;
  right: 31px;
  background-image: url(../img/uikit/screwdriver.svg);
}

.promo-technics {
  grid-area: tech;
  background-color: var(--light-liliac);
}

.promo-technics::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
  background-image: url(../img/uikit/tractor.svg);
}

.promo-sale {
  grid-area: sale;
  background-color: var(--light-green);
}

.promo-sale::after {
  content: "";
  position: absolute;
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
  background-image: url(../img/uikit/busket.svg);
}

.promo-delivery {
  grid-area: delivery;
  background-color: var(--light-yellow);
}

.promo-delivery::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 63px;
  top: 32px;
  right: 30px;
  background-image: url(../img/uikit/truck.svg);
}

.slider {
  color: var(--white);
  grid-area: slider;
  position: relative;
  height: 236px;
  margin: 0;
  padding: 0;
}

.slider h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
  padding-bottom: 16px;
}

.slider-item {
  position: absolute;
  padding: 0;
}

.slider-description {
  background: var(--slider-back);
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 24px;
  padding-top: 23px;
}

.slider-dot-controls {
  position: absolute;
  top: 220px;
  left: 295px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30px;
}

.slider-dot-controls button:hover {
  opacity: 0.7;
}

.slider-dot-controls button:focus,
.slider-dot-controls button:active {
  opacity: 0.6;
}

.slider-dot {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-dot-current {
  width: 10px;
  height: 10px;
  background-color: var(--red);
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-next {
  position: absolute;
  background-image: url(../img/uikit/icon-slider-left.svg);
  background-repeat: no-repeat;
  top: 122px;
  right: 22px;
  width: 21px;
  height: 40px;
  transform: rotate(180deg);
}

.slider-prev {
  position: absolute;
  background-image: url(../img/uikit/icon-slider-left.svg);
  background-repeat: no-repeat;
  top: 123px;
  left: 25px;
  width: 21px;
  height: 40px;
}

.slide-hidden {
  visibility: hidden;
}

.slider-button {
  position: absolute;
  bottom: 35px;
  left: 24px;
  padding: 11px 46px 9px;
}

.catalog-header {
  background-color: var(--background-light-beige);
  font-size: 30px;
  line-height: 30px;
  color: var(--blue);
  display: flex;
  margin-top: 59px;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
  padding-left: 25px;
  padding-right: 15px;
}

.catalog-header h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.catalog-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  margin-top: 25px;
  margin-bottom: 70px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  column-gap: 19px;
}

.catalog-item {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-weight: bold;
  border: 1px solid var(--smoke);
  padding: 20px;
  text-align: center;
  width: 220px;
  min-height: 318px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 175px 1fr;
  padding-top: 0;
  position: relative;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  margin: 0;
  margin-top: 3px;
}

.catalog-item img {
  justify-self: center;
  align-self: center;
  margin-top: -5px;
  margin-left: -5px;
}

.catalog-item del {
  color: var(--dark-grey);
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 15px;
}

.catalog-item:hover {
  box-shadow: 0 0 10px var(--grey);
}

.catalog-item:hover .catalog-buy-button {
  visibility: visible;
}

.catalog-item:hover .catalog-bookmark-button {
  visibility: visible;
}

.catalog-item:hover img {
  visibility: hidden;
}

.catalog-price {
  display: flex;
  justify-self: end;
  margin-right: 11px;
}

.price-number {
  width: 122px;
  border-radius: 3px;
  background-color: var(--red);
  color: var(--white);
  font-size: 17px;
  line-height: 18px;
  padding-top: 8px;
  padding-left: 5px;
  box-sizing: border-box;
}

.price-number-triangle {
  width: 39px;
  height: 38px;
  background-color: var(--red);
  background-image: linear-gradient(45deg, transparent 75%, var(--white) 75%), linear-gradient(135deg, transparent 75%, var(--white) 75%);
  margin-left: -20px;
}

.catalog-price-number {
  position: relative;
  order: 3;
  margin: auto 0 21px 13px;
  padding: 10px 16px 0 0;
  text-align: center;
  color: var(--white);
}

.catalog-item-new::after {
  content: "";
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  position: absolute;
  right: 0;
  top: 0px;
  width: 65px;
  height: 65px;
  background-image: linear-gradient(45deg, transparent 50%, var(--red) 50%, var(--red) 82%, transparent 82%);
  margin-top: -1px;
}

.catalog-item-new::before {
  content: "new";
  transform: rotate(45deg);
  position: absolute;
  right: 10px;
  top: 12px;
  color: var(--white);
  z-index: 1;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  font-family: "Cuprum", "Tahoma", sans-serif;
}

.catalog-buy-button {
  background-color: var(--green);
  color: var(--white);
  width: 135px;
  height: 38px;
  position: absolute;
  left: 50%;
  margin-left: -67px;
  top: 35px;
  padding: 10px 25px;
  box-sizing: border-box;
  border-radius: 3px;
  visibility: hidden;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Cuprum", "Tahoma", sans-serif;
}

.catalog-buy-button:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../img/uikit/icon-cart.svg);
  left: 24px;
  top: 10px;
  opacity: 0.3;
}

.catalog-buy-button::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background-color: var(--green-click);
  border-radius: 3px;
  bottom: -2px;
  left: 0;
  z-index: -1;
}

.catalog-buy-button:hover {
  background-color: var(--green-hover);
}

.catalog-buy-button:active,
.catalog-buy-button:focus {
  background-color: var(--green-click);
}

.services-wrapper {
  background-color: var(--light-grey);
}

.catalog-bookmark-button {
  border: 3px solid var(--green);
  cursor: pointer;
  width: 135px;
  height: 38px;
  position: absolute;
  left: 50%;
  margin-left: -67px;
  top: 86px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: var(--white);
  color: var(--blue);
  font-family: "Cuprum", "Tahoma", sans-serif;
  text-transform: uppercase;
  visibility: hidden;
}

.catalog-bookmark-button:hover {
  border: 3px solid var(--blue);
}

.catalog-bookmark-button:active,
.catalog-bookmark-button:focus {
  border: 3px solid var(--blue);
  opacity: 0.5;
}

.manufacturers-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 25px 0 70px;
  list-style: none;
}

.manufacturer-item,
.manufacturer-item-link {
  border: 1px solid var(--smoke);
  height: 145px;
  width: 220px;
  box-sizing: border-box;
}

.manufacturer-item,
.manufacturer-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.manufacturer-item-link:active {
  opacity: 0.5;
}

/* .services-wrapper {
  background-color: var(--light-grey);
} */

.services-block {
  color: var(--black);
  display: grid;
  grid-template-rows: 140px 1fr;
  grid-template-columns: 240px 300px;
  column-gap: 80px;
  padding-top: 64px;
  padding-bottom: 100px;
  position: relative;
}

.services-block p {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-block h2,
.services-block h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services-block h2 {
  margin-top: 3px;
  margin-bottom: 25px;
}

.services-block h3 {
  margin-top: 34px;
  margin-bottom: 30px;
}

.services-header {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.services-tab-list {
  list-style: none;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  grid-row: 2/3;
  margin-top: 35px;
  position: relative;
}

.services-tab-list::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  background-image: url(../img/uikit/tab-vertical-line.svg);
  top: -40px;
  right: 0;
}

.services-tab-description-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.delivery-description::after {
  content: "";
  position: absolute;
  width: 468px;
  height: 281px;
  background-image: url(../img/service-deliver-truck.png);
  background-repeat: no-repeat;
  right: 2px;
  bottom: 3px;
}

.tab-button {
  cursor: pointer;
  width: 240px;
  height: 61px;
  text-align: left;
  padding-top: 17px;
  padding-right: 0px;
  padding-left: 23px;
  padding-bottom: 18px;
  box-sizing: border-box;
  box-shadow: 0 1px 0 var(--dark-blue), inset 0 1px 0 var(--very-dark-blue);
}

.tab-button:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

.tab-button-active {
  box-shadow: 0 1px 0 var(--basic-white), inset 0 1px 0 var(--basic-white);
}

.tab-delivery {
  background-color: var(--white);
  color: var(--blue);
  border: none;
}

.tab-guarantee,
.tab-credit {
  background-color: var(--blue);
  color: var(--white);
  border: none;
}

.manufacturer-item:hover {
  box-shadow: 0 0 10px var(--grey);
}

.index-columns {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 180px;
  margin-top: 27px;
  margin-bottom: 80px;
}

.company-info-block h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 400;
}

.company-info-block p {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 0;
}

.company-info-block ul {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  margin-top: 5px;
  margin-bottom: 30px;
  padding-left: 0;
}

.company-info-block li {
  margin-bottom: 10px;
  list-style: none;
  background-image: url(../img/uikit/icon-list.svg);
  background-repeat: no-repeat;
  background-position: left 11px;
  padding-left: 37px;
}

.company-info-block-about {
  width: 220px;
  padding: 10px 40px;
}

.company-contacts {
  color: var(--black);
}

.company-contacts h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 30px;
  margin-top: 25px;
  font-weight: 400;
}

.company-contacts p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
}

.contacts-image {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: var(--beige);
}

.contacts-button {
  padding-top: 10px;
  padding-right: 60px;
  padding-bottom: 9px;
  padding-left: 63px;
}

/* CATALOG PAGE*/

.breadcrumbs-list {
  list-style: none;
  margin-top: 22px;
  font-size: 13px;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.breadcrumbs-item {
  text-transform: uppercase;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
}

.breadcrumbs-list li {
  margin-right: 40px;
  position: relative;
}

.breadcrumbs-list li::after {
  background-image: url(../img/uikit/icon-right-small.svg);
  background-repeat: no-repeat;
  content: "";
  height: 12px;
  width: 8px;
  right: -25px;
  top: 4px;
  position: absolute;
}

.breadcrumbs-current::after {
  display: none;
}

.product-header {
  background-color: var(--light-grey);
  color: var(--basic-blue);
  padding: 27px 30px 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 25px;
  margin-top: 0px;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: 38px 1fr min-content;
  gap: 20px;
  margin-top: -5px;
}

.inner-catalog-list {
  grid-row: 2/3;
  grid-column: 2/-1;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 20px;
  row-gap: 18px;
  padding-left: 0;
  margin-top: 5px;
}

.product-filter {
  grid-row: 1/2;
  grid-column: 1/2;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: var(--black);
  text-transform: uppercase;
}

.filter-header {
  background-color: var(--background-light-beige);
  margin: 0;
  margin-bottom: 13px;
  padding: 10px 12px 12px 18px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--black);
}

.filter-item {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  padding-bottom: 25px;
  border: 0;
  border-bottom: 1px solid var(--lighter-grey);
}

.filter-item:last-child,
.filter-item:nth-last-child(2) {
  border: none;
  margin-bottom: 2px;
}

.filter-item label {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 17px;
  line-height: 18px;
  display: block;
  margin-bottom: 10px;
}

.filter-item legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-price-range {
  width: 220px;
  margin-top: 11px;
}

.filter-price-range .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--very-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--very-grey);
  cursor: pointer;
}

.filter-price-range .toggle-min {
  left: 18px;
}

.filter-price-range .toggle-max {
  left: 160px;
}

.filter-range-control {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  background-color: var(--beige);
  border-radius: 3px;
  padding-top: 39px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.scale {
  height: 2px;
  background-color: var(--light-grey-blue);
}

.progress-bar {
  width: 85%;
  height: 2px;
  background-color: var(--green-hover);
}

.filter-price-control {
  position: relative;
}

.filter-price-control::before {
  content: "—";
  position: absolute;
  color: var(--black);
  top: 9px;
  left: calc(50% - 7px);
  font-size: 16px;
  font-family: "PT Sans", Tahoma, sans-serif;
}

.price-range-item {
  background-color: var(--beige);
  box-sizing: border-box;
}

.filter-price-control input {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: 95px;
  padding: 10px;
  padding-left: 25px;
  text-align: center;
  border: none;
  background-color: var(--beige);
  border-radius: 3px;
  box-sizing: border-box;
}

.input-max-price {
  margin-left: 25px;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-input-checkbox {
  font-size: 15px;
  line-height: 19px;
}

.filter-input-checkbox+label {
  position: relative;
  margin-left: 35px;
  margin-top: 18px;
  margin-bottom: 21px;
  font-size: 15px;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border: 2px solid var(--grey);
  left: -35px;
  top: -3px;
  box-sizing: border-box;
  border-radius: 3px;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -31px;
  top: -2px;
  background-image: url(../img/uikit/icon-checked.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio {
  font-size: 15px;
  line-height: 18px;
}

.filter-input-radio+label {
  position: relative;
  margin-left: 35px;
  margin-top: 25px;
  font-size: 15px;
  line-height: 18px;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 4px solid var(--grey);
  border-radius: 50%;
  left: -35px;
  top: -3px;
  box-sizing: border-box;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--grey);
  border-radius: 50%;
  left: -27px;
  top: 5px;
}


.filter-submit-button {
  width: 220px;
  height: 38px;
  background-color: var(--white);
  border: 1px solid var(--grey);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "PT Sans", "Tahoma", sans-serif;
  cursor: pointer;
}

.sort {
  grid-column: 2/-1;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  background-color: var(--beige);
  border-radius: 3px;
  padding-right: 10px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  margin-right: -7px;
}

.sort-header {
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--black);
  margin-left: 20px;
  margin-top: 9px;
}

.sort-list {
  list-style: none;
  display: flex;
  margin-top: 11px;
  margin-left: 100px;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
}

.sort-item {
  color: var(--black-transparent);
  border: none;
  border-bottom: 1px dashed var(--red);
  background-color: var(--beige);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 30px 0 35px;
  line-height: 18px;
  padding: 0;
  font-family: "PT Sans", "Tahoma", sans-serif;
}

.sort-item:hover {
  color: var(--black);
  border-bottom: 1px solid var(--red);
}

.sort-item-selected {
  color: var(--red);
}

.sort-item:active,
.sort-item:focus {
  color: var(--red);
  border: none;
}

.sort-list-type {
  list-style: none;
  display: flex;
  margin-top: 5px;
  padding-left: 0;
}

.sort-up,
.sort-down {
  justify-self: flex-end;
  margin: 0 2px;
  width: 30px;
}

.pagination-block {
  grid-row: 3/4;
  grid-column: 2/-1;
  display: flex;
  gap: 10px;
  padding-left: 0;
  margin-top: 10px;
}

.pagination-list {
  list-style: none;
  grid-row: 3/4;
  grid-column: 2/-1;
  display: flex;
  gap: 10px;
  padding-left: 0;
  margin-top: 10px;
}

.pagination-item {
  color: var(--black);
  border: 1px solid var(--lighter-grey);
  padding: 10px 15px;
  border-radius: 2px;
}

.pagination-next {
  text-transform: uppercase;
}

.pagination-item:hover {
  border: 1px solid var(--grey);
}

.pagination-item:active,
.pagination-item:focus {
  border: 1px solid var(--red);
}

.pagination-current {
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--red);
}

.punchers-info {
  background-color: var(--light-grey);
  color: var(--black);
  padding: 64px 20px 55px;
  margin-top: 55px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
}

.punchers-info p {
  font-size: 13px;
  line-height: 24px;
}

.punchers-info-header {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 30px;
  font-weight: 400;
  font-family: "Cuprum", "Tahoma", sans-serif;
  margin-bottom: 30px;
}

/* FOOTER */

.main-footer-top-wrapper {
  background-color: var(--blue);
}

.main-footer-top {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: min-content min-content;
}

.main-footer-logo {
  color: var(--white);
  background-color: var(--red);
  width: 220px;
  height: 68px;
  text-align: center;
  align-self: flex-start;
  padding-top: 20px;
  box-sizing: border-box;
  box-shadow: inset 0 -5px var(--black-light-transparent);
}

.main-footer-nav ul {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 4px;
  list-style: none;
}

.main-footer-nav a {
  color: var(--light-grey);
  font-size: 18px;
}

.main-footer-nav a:hover,
.main-footer-nav-categories a:hover {
  text-decoration: underline;
}

.main-footer-nav a:active,
.main-footer-nav a:focus,
.main-footer-nav-categories a:active,
.main-footer-nav-categories a:focus {
  opacity: 0.5;
}

.footer-address,
.footer-phone-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--smoky-white);
  font-style: normal;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-weight: 400;
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
}

.main-footer-nav-categories ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 57px;
  padding-left: 66px;
  font-size: 18px;
}

.main-footer-nav-categories a {
  color: var(--lighter-yellow);
}

.main-footer-bottom-wrapper {
  background-color: var(--dark-blue);
}

.main-footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 35px;
}

.footer-social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 125px;
  margin-left: 35px;
  margin-bottom: 18px;
}

.footer-social-list a {
  color: var(--white);
}

.footer-social-item:hover path:first-child,
.footer-social-item:active path:first-child,
.footer-social-item:focus path:first-child {
  fill: var(--red);
}

.footer-social-item {
  color: inherit;
}

.footer-mail {
  margin-left: 15px;
}

.footer-created {
  margin-left: 44px;
}

.footer-mail-link,
.footer-createdin-link {
  color: var(--lighter-yellow);
}

.footer-mail-link:hover,
.footer-createdin-link:hover {
  text-decoration: underline;
}

.footer-mail-link:active,
.footer-createdin-link:active,
.footer-mail-link:focus,
.footer-createdin-link:focus {
  color: var(--red);
}

/* MODAL DIALOGS */

.map-popup-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}

.map-popup {
  position: relative;
  width: 943px;
  height: 449px;
  border: none;
  border-top: 7px solid var(--red);
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.30));
}

.map-popup::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 11px;
  z-index: 888;
  width: 21px;
  height: 21px;
  background-image: url("../img/uikit/icon-popup-close.svg");
}

.map-popup-close {
  position: absolute;
  top: 10px;
  right: 11px;
  z-index: 888;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/uikit/icon-popup-close.svg");
  border: none;
  cursor: pointer;
}

.map-popup iframe {
  border: none;
}

.feedback-popup-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 620px;
  height: 430px;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.30));
}

.feedback-popup {
  position: relative;
  z-index: 999;
  display: flex;
  box-sizing: border-box;
  background-color: var(--white);
  border-top: 7px solid var(--red);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Tahoma", sans-serif;
}

.feedback-input-list {
  display: flex;
  margin: 0;
  padding: 40px 0 0 0;
  list-style: none;
}

.feedback-input-list input {
  box-sizing: border-box;
  width: 220px;
  min-height: 38px;
  padding: 0;
  border: 2px solid var(--grey);
  border-radius: 2px;
  outline: none;
}

.feedback-form::-webkit-input-placeholder,
.feedback-textarea::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: var(--dark-grey);
}

.feedback-name-item {
  margin-left: 80px;
}

.feedback-name-item label {
  padding-bottom: 10px;
}

.feedback-email-item label {
  padding-bottom: 10px;
}

.feedback-name-item input[type=text],
.feedback-email-item input[type=email] {
  padding-left: 10px;
  color: var(--black)
}

.feedback-textarea {
  padding-left: 8px;
}

.feedback-textarea-wrapper {
  margin: 13px 0 31px 80px;
}

.feedback-textarea {
  box-sizing: border-box;
  width: 460px;
  min-height: 114px;
  margin-top: 10px;
  border: 2px solid var(--grey);
  border-radius: 2px;
  outline: none;
  resize: none;
}

.feedback-popup-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  min-height: 112px;
  background-color: var(--popup-grey);
}

.feedback-button {
  box-sizing: border-box;
  width: 460px;
  min-height: 38px;
  padding-top: 3px;
  border: none;
  cursor: pointer;
}

.feedback-name,
.feedback-name-input {
  display: block;
}

.feedback-name-input [type=text] {
  padding: 30px;
}

.feedback-email,
.feedback-email-input {
  display: block;
  margin-left: 20px;
}

.feedback-popup-close {
  position: absolute;
  top: 12px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/uikit/icon-popup-close.svg");
  border: 0;
  cursor: pointer;
}

.basket-popup-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
}

.basket-popup {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 620px;
  min-height: 282px;
  background-color: var(--white);
  border-top: 7px solid var(--red);
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.30));
}

.basket-popup::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/uikit/icon-popup-mark.svg");
  background-repeat: no-repeat;

}

.basket-text-add {
  display: flex;
  justify-content: center;
  height: 163px;
}

.basket-text-add p {
  position: relative;
  padding-top: 43px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.basket-popup-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  min-height: 112px;
  background-color: var(--popup-grey);
}

.basket-buy {
  box-sizing: border-box;
  min-width: 192px;
  margin-right: 5px;
  padding: 10px 10px;
}

.basket-continue {
  box-sizing: border-box;
  min-width: 192px;
  margin-left: 5px;
  padding: 10px 10px;
  color: var(--black);
  background-color: var(--white);
}

.basket-continue:hover {
  color: var(--white);
}

.basket-popup-close {
  position: absolute;
  top: 12px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/uikit/icon-popup-close.svg");
  border: 0;
  cursor: pointer;
}
